body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1e1e40, #050517);
  color: white;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.app {
  padding: 20px;
}
